@charset "UTF-8";

:root {
  font-size: 10px;
  --default-color: #ffffff;
  --main-color: #e1e1e1;
  --light-blue: #3ba8ec;
  --dark-blue: #199bec;
  --box-shadow: 14px 0px 38px 10px #4f4b4b67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

