@charset "UTF-8";

.login-area {
  min-height: 50rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.group {
  width: 100%;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 14px 0px 38px 10px #4f4b4b67;
}

.group:first-child {
  min-height: 26rem;
}

.group:nth-child(2) {
  margin-top: 3.2rem;
}

.group-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.group-info img.logo {
  height: 4rem;
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo img {
  overflow: hidden;
  border-radius: 50%;
  height: 8rem;
}

.login-logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  font-size: 1.6rem;
}

.login-logout :first-child {
  text-align: center;
  padding: 1rem;
  background-color: #3ba8ec;
  color: #f5f5f5;
  font-size: 1.6rem;
  border-radius: 5px;
}

.login-logout :first-child:hover {
  filter: brightness(0.9);
  transition: 0.4s;
}

.login-logout :nth-child(2) {
  color: #199bec;
}

.group:nth-child(2) {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.group:nth-child(2) span {
  color: #199bec;
}

.download-area {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.download-links {
  width: 100%;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.download-links a {
  height: 5rem;
  width: 15rem;
  background-size: cover;
  background-position: center;
}

.download-links a:first-child {
  background-image: url(/images/apple-button.png);
}

.download-links a:nth-child(2) {
  background-image: url(/images/googleplay-button.png);
}
